{% extends 'main/base.html' %} {% block content %}
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- 1st ROW -->
<div class="row">
  <div class="col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-warning elevation-1"
        ><i class="fas fa-tools"></i
      ></span>

      <div class="info-box-content">
        <span class="info-box-text">Tools</span>
        <span class="info-box-number">
          {{tools.count}}
          <small></small>
        </span>
      </div>
    </div>
    <!-- <div class="info-box mb-3 bg-warning">
      <span class="info-box-icon">
        <i class="fas fa-tools"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Tools</span>
        <span class="info-box-number">{{tools.count}}</span>
      </div>
    </div> -->
  </div>

  <div class="col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-success elevation-1"
        ><i class="fas fa-recycle"></i
      ></span>

      <div class="info-box-content">
        <span class="info-box-text">Raw Materials</span>
        <span class="info-box-number">
          {{materials.count}}
          <small></small>
        </span>
      </div>
    </div>
    <!-- <div class="info-box mb-3 bg-success">
      <span class="info-box-icon">
        <i class="far fa-heart"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Raw Materials</span>
        <span class="info-box-number">{{materials.count}}</span>
      </div>
    </div> -->
  </div>

  <div class="col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-danger elevation-1">
        <i class="fas fa-project-diagram"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Projects</span>
        <span class="info-box-number">
          {{projects.count}}
          <small></small>
        </span>
      </div>
    </div>
    <!-- <div class="info-box mb-3 bg-danger">
      <span class="info-box-icon">
        <i class="fas fa-project-diagram"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Projects</span>
        <span class="info-box-number">{{projects.count}}</span>
      </div>
    </div> -->
  </div>

  <div class="col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-info elevation-1"
        ><i class="fas fa-users"></i
      ></span>

      <div class="info-box-content">
        <span class="info-box-text">Unknown</span>
        <span class="info-box-number">
          {{Unknown.count}}
          <small></small>
        </span>
      </div>
    </div>
    <!-- <div class="info-box mb-3 bg-info">
      <span class="info-box-icon">
        <i class="far fa-comment"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Unknown</span>
        <span class="info-box-number">{{Unknown.count}}</span>
      </div>
    </div> -->
  </div>
</div>
<!-- /.ROW -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header border-transparent">
        <h3 class="card-title">Latest Projects</h3>
        <div class="card-tools">
          <button
            class="btn btn-tool"
            data-card-widget="collapse"
            type="button"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button class="btn btn-tool" data-card-widget="remove" type="button">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <div class="table-responsive table-bordered">
          <table class="table m-0" style="font-size: large">
            <thead>
              <tr>
                <th># ID</th>
                <th>Project</th>
                <th>Progress</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for project in projects %} {% if forloop.counter <= 5 %}
              <tr>
                <td>
                  {% if perms.project.change_projects %}
                  <a
                    href="/admin/projects/projects/{{project.id}}/change/"
                    target="_blank"
                    >PT_{{project.id}}</a
                  >
                  {% else %}
                  <a href="#">PT_{{project.id}}</a>
                  {% endif %}
                </td>
                <td>{{project.project_name}}</td>
                {% if project.projectStatus == 'Done' %}
                <td style="vertical-align: middle">
                  <div class="progress progress-m">
                    <div
                      class="progress-bar progress-bar-striped bg-success"
                      style="width: 100%; border-radius: 5px"
                    >
                      100%
                    </div>
                  </div>
                </td>
                <td style="text-align: center; width: 12%">
                  <span
                    class="badge badge-success"
                    style="
                      width: 100%;
                      font-size: 100%;
                      font-weight: 500;
                      padding: 4%;
                    "
                  >
                    {{project.projectStatus}}
                  </span>
                </td>
                {% elif project.projectStatus == 'Paused' %}
                <td style="vertical-align: middle">
                  <div class="progress progress-m">
                    <div
                      class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                      style="width: 60%; border-radius: 5px"
                    >
                      60%
                    </div>
                  </div>
                </td>
                <td style="text-align: center; width: 12%">
                  <span
                    class="badge badge-info"
                    style="
                      width: 100%;
                      color: white;
                      font-size: 100%;
                      font-weight: 500;
                      padding: 4%;
                    "
                  >
                    {{project.projectStatus}}
                  </span>
                </td>
                {% else %}
                <td style="vertical-align: middle">
                  <div class="progress progress-m">
                    <div
                      class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                      style="width: 20%; border-radius: 5px"
                    >
                      20%
                    </div>
                  </div>
                </td>
                <td style="text-align: center; width: 12%">
                  <span
                    class="badge badge-danger"
                    style="
                      width: 100%;
                      font-size: 100%;
                      font-weight: 500;
                      padding: 4%;
                    "
                  >
                    {{project.projectStatus}}
                  </span>
                </td>
                {% endif %}
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix"></div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>
</div>

<!-- 2nd ROW -->
<div class="row">
  <!-- LEFT COL -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-header border-transparent">
        <h3 class="card-title">Latest Tools</h3>
        <div class="card-tools">
          <button
            class="btn btn-tool"
            data-card-widget="collapse"
            type="button"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button class="btn btn-tool" data-card-widget="remove" type="button">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <div class="table-responsive table-bordered">
          <table class="table m-0" style="font-size: large">
            <thead>
              <tr>
                <th># ID</th>
                <th>Item</th>
                <th>Status</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
              {% for tool in tools %} {% if forloop.counter <= 5 %}
              <tr>
                <td>
                  {% if perms.inventory.change_tools %}
                  <a
                    href="/admin/inventory/tools/{{tool.id}}/change/"
                    target="_blank"
                    >TL_{{tool.id}}</a
                  >
                  {% else %}
                  <a href="#">TL_{{tool.id}}</a>
                  {% endif %}
                </td>
                <td>{{tool.name}}</td>
                <td>
                  {% if tool.project is None %}
                  <span
                    class="badge badge-success"
                    style="
                      width: 100%;
                      font-size: 100%;
                      font-weight: 500;
                      padding: 4%;
                    "
                  >
                    Available
                  </span>
                  {% else %}
                  <span
                    class="badge badge-danger"
                    style="
                      width: 100%;
                      font-size: 100%;
                      font-weight: 500;
                      padding: 4%;
                    "
                  >
                    <!--    To Call the function that defined in inventory.models and will split the project name from "fenyr_1 is on going" to just "fenyr_1" -->
                    {% for project_name in tool.split %} Assigned to
                    {{project_name}} {% endfor %}
                  </span>
                  {% endif %}
                </td>
                <td>
                  <div class="sparkbar" data-color="#00a65a" data-height="20">
                    {{tool.user}}
                  </div>
                </td>
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix"></div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->

  <!-- RIGHT COL -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-header border-transparent">
        <h3 class="card-title">Latest Raw Materials</h3>
        <div class="card-tools">
          <button
            class="btn btn-tool"
            data-card-widget="collapse"
            type="button"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button class="btn btn-tool" data-card-widget="remove" type="button">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <div class="table-responsive table-bordered">
          <table class="table m-0" style="font-size: large">
            <thead>
              <tr>
                <th># ID</th>
                <th>Item</th>
                <th>Status</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
              {% for material in materials %} {% if forloop.counter <= 5 %}
              <tr>
                <td>
                  {% if perms.inventory.change_rawmaterials %}
                  <a
                    href="/admin/inventory/rawmaterials/{{material.id}}/change/"
                    target="_blank"
                    >ML_{{material.id}}</a
                  >
                  {% else %}
                  <a href="#">ML_{{material.id}}</a>
                  {% endif %}
                </td>
                <td>{{material.name}}</td>
                <td>
                  {% if material.project is None %}
                  <span
                    class="badge badge-success"
                    style="
                      width: 100%;
                      font-size: 100%;
                      font-weight: 500;
                      padding: 4%;
                    "
                  >
                    Available
                  </span>
                  {% else %}
                  <span
                    class="badge badge-danger"
                    style="
                      width: 100%;
                      font-size: 100%;
                      font-weight: 500;
                      padding: 4%;
                    "
                  >
                    <!--    To Call the function that defined in inventory.models and will split the project name from "fenyr_1 is on going" to just "fenyr_1" -->
                    {% for project_name in material.split %} Assigned to
                    {{project_name}} {% endfor %}
                  </span>
                  {% endif %}
                </td>
                <td>
                  <div class="sparkbar" data-color="#00a65a" data-height="20">
                    {{material.user}}
                  </div>
                </td>
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix"></div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
<!-- /.ROW -->

{% endblock %}
